.mission{
  padding: 0 0 100px;
  position: relative;
    &-box{
      margin-top: 105px;
      max-width: 450px;
      padding-bottom: 20px;
      position: relative;
        &:before{
          content: attr(data-num);
          position: absolute;
          font-size: 500px;
          opacity: .02;
          color: #e1e1e1;
          font-family: "Akrobat", sans-serif;
          top: 65%;
          left: 0;
          line-height: .8em;
          pointer-events: none;
        }
        &-icon{
          position: relative;
          height: 82px;
          margin-bottom: 92px;
            &:before{
              content: '';
              position: absolute;
              bottom: -43px;
              left: 0;
              width: 100%;
              height: 4px;
              background-color: #e8e8e8;
              opacity: .03;
            }
            img{
              height: 100%;
              object-fit: contain;
            }
        }
        &-title{
          margin-bottom: 30px;
        }
    }
    .col-lg-4{
      &:nth-child(even){
        .mission-box{
          padding-top: 270px;
            &:before{
              top: -9%;
            }
        }
      }
    }
}

.model{
  padding: 120px 0;
  position: relative;
}