.dropdown{
  position: relative;
  z-index: 0;
    &-header{
      height: 40px;
      border-radius: 5px;
      padding: 0 40px 0 20px;
      border: 1px #4A4A4A solid;
      line-height: 36px;
      cursor: pointer;
      position: relative;
      transition: background-color .1s ease;
        &-title{
          font-size: 12px;
        }
        &:before{
          content: '';
          position: absolute;
          right: 14px;
          top: 16px;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 8px 4.5px 0 4.5px;
          border-color: #4A4A4A transparent transparent transparent;
          transition: all .2s ease;
        }
        @media only screen and (min-width: 991px), (any-hover: hover) {
            &:hover{
              background-color: rgba(255,255,255,.08);
            }
        }
    }
    &-select{
      position: absolute;
      top: 40px;
      right: 0;
      padding-top: 26px;
      opacity: 0;
      pointer-events: none;
      transform: translateY(-5px);
      z-index: -1;
      transition: opacity .2s ease, transform .2s ease;
        &-list{
          background-color: #121C21;
          border: 1px #4A4A4A solid;
          border-radius: 5px;
          padding: 30px 20px;
          max-width: 254px;
          width: 100vw;
        }
        .input{
            &-container{
              margin: 10px 0;
            }
            &-label{
              padding: 0;
              font-size: 12px;
              @media only screen and (min-width: 991px), (any-hover: hover) {
                &:hover {
                  color: #CFB024;
                }
              }
            }
            &-check{
              &:checked{
                & ~ .input-label{
                  color: #FFC600;
                }
              }
            }
        }
    }
    &-action{
      display: flex;
      align-items: center;
      padding-top: 15px;
    }
    &-divider{
      background-color: #4A4A4A;
      height: 1px;
      opacity: 1;
      margin: 7px 0;
    }
    &.is-active{
      z-index: 9;
        .dropdown{
            &-header{
                &:before{
                  transform: scaleY(-1);
                  top: 15px;
                }
            }
            &-select{
              opacity: 1;
              z-index: 1;
              pointer-events: auto;
              transform: translateY(0);
            }
        }
    }
}