.feedback{
  background-color: rgba(255,255,255,.03);
  border-radius: 5px;
  margin: 100px 0;
  padding: 88px 0 73px;
  font-size: 16px;
    &-title{
      text-transform: capitalize;
    }
    &-description{
      font-size: 16px;
      padding: 20px 0 10px;
        @media only screen and (max-width: 575px) {
          p{
            line-height: 1.8em;
          }
        }
    }
    &-action{
      text-align: center;
      padding: 5px 0;
        .btn.lg{
          max-width: 388px;
        }
        @media only screen and (max-width: 575px) {
          padding: 20px 0 0;
        }
    }
    &-detail{
      margin: 53px 0 13px;
        p{
          line-height: 1.4em;
        }
    }
    &-more{
      color: #a9a9a9;
      font-size: 12px;
      text-align: center;
      padding: 33px 0 10px;
    }
    @media only screen and (max-width: 1200px) {
      padding: 50px 30px;
        .input-label{
          min-height: 58px;
        }
    }
    @media only screen and (max-width: 991px) {
      margin: 50px 0 80px;
    }
    @media only screen and (max-width: 767px) {
      .input-label{
        min-height: 0;
      }
    }
    @media only screen and (max-width: 480px) {
      padding: 30px 14px;
    }
}