.planets{
  position: absolute;
    &-item{
      will-change: transform;
    }
    &.is-active{
      .orbit{
        &-earth,
        &-moon{
          animation-play-state: running;
        }
      }
    }
}

.orbit{
    &-earth{
      position: absolute;
      top: -65%;
      left: -70%;
      transform-origin: center;
      animation: spin-right 7s linear infinite;
      animation-play-state: paused;
    }
    &-moon{
      position: absolute;
      top: -80%;
      left: -50%;
      width: calc(100% + 120px);
      height: calc(100% + 120px);
      transform-origin: center;
      animation: spin-right 10s linear infinite;
      animation-play-state: paused;
    }
}

.sun{

}

.earth{
  position: absolute;
  top: 0;
  left: 50%;
}

.moon{
  position: absolute;
  left: 50%;
  top: 0;
}

@keyframes spin-right {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spin-left {
  100% {
    transform: rotate(-360deg);
  }
}
