.regular{
  //font-family: 'Raleway';
  font-family: "Raleway-Regular";
  font-weight: 400;
}

.medium{
  font-family: 'Raleway';
  font-weight: 500;
}

.semi-bold{
  font-family: 'Raleway';
  font-weight: 600;
}

.light{
  //font-family: 'Roboto';
  font-family: "Roboto-Light";
  font-weight: 300;
}

.ttu{
  text-transform: uppercase;
}

.yellow{
  color: $yellow;
}

.title-1{
  @extend h1;
  color: $white;
}

.title-2{
  @extend h2;
}

.title-3{
  @extend h3;
}

.title-4{
  @extend h4;
}

.title-5{
  @extend h5;
}

.title-6{
  @extend h6;
}