.regular{
  font-family: 'Spartan';
  font-weight: 400;
}

.medium{
  font-family: 'Spartan';
  font-weight: 500;
}

.bold{
  font-family: 'Spartan';
  font-weight: 700;
}

.light{
  font-family: 'Rubik';
  font-weight: 300;
}

.thin{
  font-family: 'Spartan';
  font-weight: 100;
}

.ttu{
  text-transform: uppercase;
}

.yellow{
  color: $yellow;
}

.title-1{
  @extend h1;
}

.title-2{
  @extend h2;
}

.title-3{
  @extend h3;
}

.title-4{
  @extend h4;
}

.title-5{
  @extend h5;
}

.title-6{
  @extend h6;
}