$container-max-widths: ();

$white: #ffffff;
$black: #000000;
$grey: #656565;
$grey-light: #d9d9d9;
$grey-button: #e8e8e8;
$yellow: #deb513;
$yellow-button: #deb513;
$yellow-disabled: #C19E11;
$green: #00FF83;
$red: #FF1F00;
$blue: #2b2e33;