$grid-gutter-width: 28px;
$container-max-widths: ();

$white: #ffffff;
$black: #00030a;
$grey: #656565;
$grey-light: #e1e1e1;
$grey-button: #e8e8e8;
$yellow: #deb513;
$yellow-button: #f3de1a;
$green: #00321c;
$red: #6e2214;
$blue: #2b2e33;