@import "~Sass/base/variables";

.research {
    &-banner{
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      padding: 93px 20px;
      margin: 121px 0 93px;
      border-radius: 5px;
      overflow: hidden;
      min-height: 590px;
        &:before{
          content: '';
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          background-color: $black;
          opacity: .2;
          pointer-events: none;
        }
        &-content{
          position: relative;
          max-width: 1000px;
          margin: 0 auto;
          text-align: center;
        }
        &-icon{
          display: inline-block;
          width: 15px;
          height: 15px;
          margin-left: 10px;
        }
        &-date{
          display: inline-flex;
          align-items: center;
        }
        &-title{
            &.title-2{
              margin: 25px 0 48px;
              line-height: 1.4em;
              font-size: 48px;
            }
        }
        &-description{
          opacity: .7;
        }
    }
    &-tags{

    }
    &-search{
      display: flex;
      justify-content: flex-end;
        .search{
          max-width: 365px;
          width: 100%;
        }
    }
}