.involved{
  position: relative;
  padding: 22px 0 284px;
  font-size: 16px;
    &-description{
      margin-top: 45px;
      padding-right: 30px;
        p{
          line-height: 2.250em;
        }
        @media only screen and (max-width: 1600px) {
          padding-right: 10px;
        }
    }
    .hero-title{
      margin-bottom: 60px;
    }
    @media only screen and (max-width: 1400px) {
      padding: 20px 0 150px;
    }
    @media only screen and (max-width: 1200px) {
      padding: 20px 0 50px;
    }
    @media only screen and (max-width: 767px) {
      .hero-title{
        margin-bottom: 30px;
      }
    }
}