.header{
  padding: 102px 0 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
    &-logo{
     display: inline-block;
      width: 234px;
    }
    .container{
      max-width: 1680px;
    }
    @media only screen and (max-width: 1440px) {
      padding: 55px 0 20px;
    }
}

.nav{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 0;
    .link{
      margin-left: 120px;
        &:nth-child(1){
          margin-left: 0;
        }
        @media only screen and (max-width: 1440px) {
          margin-left: 100px;
        }
    }
}