.header{
  padding: 102px 0 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  transition: background-color .2s ease, padding .4s ease;
    &-logo{
     display: inline-block;
      width: 234px;
      position: relative;
      z-index: 1;
        @media only screen and (max-width: 1200px) {
          width: 200px;
        }
    }
    &-nav{
        &-mobile{
          display: flex;
          align-items: center;
          justify-content: flex-end;
          padding: 9px 0;
            @media only screen and (min-width: 992px) {
              display: none;
            }
            @media only screen and (max-width: 480px) {
              .link{
                display: none;
              }
            }
        }
    }
    .quant-nav{
      display: none;
    }
    &.inner-theme{
      //background-color: #000410;
      padding: 34px 0 32px;
        .header-logo{
          position: relative;
            &:before{
              content: '';
              position: absolute;
              bottom: 0;
              left: 0;
              width: 100%;
              top: -34px;
              background: -moz-linear-gradient(top,  rgba(0,3,10,1) 0%, rgba(0,3,10,1) 75%, rgba(0,3,10,0) 100%);
              background: -webkit-linear-gradient(top,  rgba(0,3,10,1) 0%,rgba(0,3,10,1) 75%,rgba(0,3,10,0) 100%);
              background: linear-gradient(to bottom,  rgba(0,3,10,1) 0%,rgba(0,3,10,1) 75%,rgba(0,3,10,0) 100%);
              filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00030a', endColorstr='#0000030a',GradientType=0 );
              z-index: -1;
              pointer-events: none;
            }
        }
        @media only screen and (max-width: 991px) {
          .quant-nav{
            display: block;
            padding: 0 15px;
            margin-top: -15px;
              .link{
                font-size: 12px;
                opacity: .7;
              }
              li{
                padding-bottom: 0;
              }
          }
        }
    }
    @media only screen and (max-width: 1440px) {
      padding: 55px 0 20px;
    }
    @media only screen and (max-width: 1200px) {
      padding: 35px 0 20px;
    }
    @media only screen and (max-width: 991px) {
      .nav{
        display: flex;
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        flex-direction: column;
        background-color: #00030a;
        align-items: flex-start;
        padding: 100px 28px;
        opacity: 0;
        pointer-events: none;
        z-index: -9;
        transition: opacity .2s ease;
        overflow-y: auto;
          .link{
            margin-left: 0;
            font-size: 14px;
            margin-bottom: 20px;
              &.icon-after{
                display: none;
              }
              &:last-child{
                margin-bottom: 0;
              }
          }
          &.is-active{
            opacity: 1;
            z-index: 0;
            pointer-events: auto;
          }
          &-ul-sub{
            .link{
              font-size: 12px;
            }
          }
      }
    }
    @media only screen and (max-width: 767px) {
      .nav{
        padding: 100px 14px;
      }
    }
    @media only screen and (max-width: 480px) {
      .nav{
          .link{
            &.icon-after{
              display: inline-block;
            }
          }
      }
    }
}

.nav{
    &-ul{
      @media only screen and (max-width: 991px) {
        flex-direction: column;
        display: flex;
        align-items: flex-start;
      }
      @media only screen and (min-width: 992px) {
        display: flex;
        justify-content: flex-end;
        align-items: center;
          li{
            margin-left: 120px;
            position: relative;
              &:nth-child(1){
                margin-left: 0;
              }
              @media only screen and (max-width: 1440px) {
                margin-left: 100px;
              }
              @media only screen and (max-width: 1300px) {
                margin-left: 80px;
              }
              @media only screen and (max-width: 1200px) {
                margin-left: 60px;
              }
          }
      }
      &-sub{
          li{
            padding: 9px 0;
            margin-left: 0;
          }
          @media only screen and (min-width: 992px) {
            position: absolute;
            top: 100%;
            left: 50%;
            background-color: #00030a;
            border: 1px #deb513 solid;
            padding: 0 40px;
            transition: opacity .4s ease, transform .4s ease;
            pointer-events: none;
            opacity: 0;
            transform: translate(-50%,5px);
          }
          @media only screen and (max-width: 991px) {
            padding: 0 15px;
            margin-top: -15px;
              li{
                padding: 0;
              }
              .link{
                opacity: .7;
              }
          }
      }
    }
    @media only screen and (min-width: 992px) {
      padding: 11px 0;
    }
    @media only screen and (max-width: 1200px) {
      padding: 7px 0;
    }
}

.has-sub{
  position: relative;
    &-btn{
      position: absolute;
      width: 20px;
      height: 20px;
      top: 8px;
      right: -30px;
        &:before{
          content: '';
          position: absolute;
          top: 50%;
          left: 50%;
          margin: -2px 0 0 -4px;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 5px 4px 0 4px;
          border-color: #ffffff transparent transparent transparent;
        }
    }
    @media only screen and (min-width: 992px), (any-hover: hover) {
      &:hover{
        & > .nav-ul-sub{
          transform: translate(-50%,0);
          opacity: 1;
          pointer-events: auto;
        }
      }
    }
}