.header{
  padding: 102px 0 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  transition: background-color .2s ease, padding .4s ease;
    &-logo{
     display: inline-block;
      width: 234px;
      position: relative;
      z-index: 1;
        @media only screen and (max-width: 1200px) {
          width: 200px;
        }
    }
    &-nav{
        &-mobile{
          display: flex;
          align-items: center;
          justify-content: flex-end;
          padding: 9px 0;
            @media only screen and (min-width: 992px) {
              display: none;
            }
            @media only screen and (max-width: 480px) {
              .link{
                display: none;
              }
            }
        }
    }
    .quant-nav{
      display: none;
    }
    &.inner-theme{
      //background-color: #000410;
      padding: 34px 0 32px;
        .header-logo{
          position: relative;
            &:before{
              content: '';
              position: absolute;
              bottom: 0;
              left: 0;
              width: 100%;
              top: -34px;
              background-color: #00030a;
              z-index: -1;
              pointer-events: none;
            }
        }
        @media only screen and (max-width: 991px) {
          .quant-nav{
            display: block;
            padding: 0 15px;
            margin-top: -15px;
              .link{
                font-size: 12px;
              }
              li{
                padding-bottom: 0;
              }
          }
        }
    }
    @media only screen and (max-width: 1440px) {
      padding: 55px 0 20px;
    }
    @media only screen and (max-width: 1200px) {
      padding: 35px 0 20px;
    }
    @media only screen and (max-width: 991px) {
      .nav{
        display: flex;
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        flex-direction: column;
        background-color: #00030a;
        align-items: flex-start;
        padding: 100px 28px;
        opacity: 0;
        pointer-events: none;
        z-index: -9;
        transition: opacity .2s ease;
        overflow-y: auto;
          .link{
            margin-left: 0;
            font-size: 14px;
            margin-bottom: 20px;
              &.icon-after{
                display: none;
              }
              &:last-child{
                margin-bottom: 0;
              }
          }
          &.is-active{
            opacity: 1;
            z-index: 0;
            pointer-events: auto;
          }
      }
    }
    @media only screen and (max-width: 767px) {
      .nav{
        padding: 100px 14px;
      }
    }
    @media only screen and (max-width: 480px) {
      .nav{
          .link{
            &.icon-after{
              display: inline-block;
            }
          }
      }
    }
}

.nav{
    .link{
      margin-left: 120px;
        &:nth-child(1){
          margin-left: 0;
        }
        @media only screen and (max-width: 1440px) {
          margin-left: 100px;
        }
        @media only screen and (max-width: 1300px) {
          margin-left: 80px;
        }
        @media only screen and (max-width: 1200px) {
          margin-left: 60px;
        }
    }
    @media only screen and (min-width: 992px) {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding: 11px 0;
    }
    @media only screen and (max-width: 1200px) {
      padding: 7px 0;
    }
}