.footer{
  background-color: #000922;
  padding: 27px 0 0;
    &-logo{
      width: 234px;
      margin-top: 7px;
        @media only screen and (max-width: 1200px) {
          width: 200px;
          margin-top: 0;
        }
        @media only screen and (max-width: 767px) {
          width: 160px;
        }
        @media only screen and (max-width: 575px) {
          width: 200px;
        }
    }
    &-copyright{
      text-align: center;
      background-color: #000217;
      font-size: 12px;
      margin-top: 20px;
      padding: 6px 0;
    }
    &-nav{
      display: flex;
      align-items: center;
      justify-content: flex-end;
        @media only screen and (max-width: 575px) {
          justify-content: flex-start;
        }
    }
    .nav{
      .link{
        margin-left: 115px;
          &:nth-child(1){
            margin-left: 0;
          }
          @media only screen and (max-width: 1440px) {
            margin-left: 100px;
          }
          @media only screen and (max-width: 1200px) {
            margin-left: 80px;
          }
          @media only screen and (max-width: 991px) {
            margin-left: 50px;
          }
          @media only screen and (max-width: 767px) {
            margin-left: 25px;
          }
          @media only screen and (max-width: 480px) {
            margin-left: 0;
            margin-bottom: 15px;
              &:last-child{
                margin-bottom: 0;
              }
          }
      }
      @media only screen and (max-width: 991px) {
        padding: 9px 0;
      }
      @media only screen and (max-width: 767px) {
        padding: 6px 0;
      }
      @media only screen and (max-width: 575px) {
        padding: 30px 0 10px;
      }
      @media only screen and (max-width: 480px) {
        display: flex;
        flex-direction: column;
      }
    }
}