.counter{
  display: flex;
  justify-content: center;
  align-items: center;
    &-body{
      display: inline-flex;
      align-items: flex-end;
      justify-content: flex-end;
      //width: 298px;
        &-label{
          font-size: 40px;
          margin: 0 0 14px 0;
            @media only screen and (max-width: 1300px) {
              font-size: 32px;
              margin: 0 0 12px 0;
            }
            @media only screen and (max-width: 1200px) {
              font-size: 28px;
            }
            @media only screen and (max-width: 575px) {
              font-size: 22px;
            }
        }
        &-value{
          font-size: 85px;
          line-height: 1.2em;
          //letter-spacing: -.05em;
            @media only screen and (max-width: 1440px) {
              font-size: 72px;
            }
            @media only screen and (max-width: 1300px) {
              font-size: 64px;
            }
            @media only screen and (max-width: 1200px) {
              font-size: 60px;
            }
            @media only screen and (max-width: 575px) {
              font-size: 52px;
            }
        }
        @media only screen and (max-width: 1440px) {
          //width: 258px;
        }
        @media only screen and (max-width: 1200px) {
          //width: 213px;
        }
        @media only screen and (max-width: 575px) {
          //width: 184px;
        }
    }
    &-control{
      display: inline-flex;
      height: 100%;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-left: 22px;
      margin-top: -20px;
        &-arrow{
          width: 26px;
          height: 18px;
          position: relative;
          opacity: .5;
          transition: opacity .4s ease;
            &:before{
              content: '';
              position: absolute;
              top: 0;
              left: 0;
              width: 0;
              height: 0;
              border-style: solid;
              transition: border-color .4s ease;
            }
            &.__up{
              margin-bottom: 7px;
                &:before{
                  border-width: 0 13px 18px 13px;
                  border-color: transparent transparent #00321c transparent;
                }
                @media only screen and (max-width: 1300px) {
                  margin-bottom: 3px;
                    &:before{
                      border-width: 0 11px 16px 11px;
                    }
                }
                @media only screen and (max-width: 575px) {
                  margin-bottom: 1px;
                    &:before{
                      border-width: 0 6px 11px 6px;
                    }
                }
            }
            &.__down{
              margin-top: 7px;
                &:before{
                  border-width: 18px 13px 0 13px;
                  border-color: #6e2214 transparent transparent transparent;
                }
                @media only screen and (max-width: 1300px) {
                  margin-top: 3px;
                    &:before{
                      border-width: 16px 11px 0 11px;
                    }
                }
                @media only screen and (max-width: 575px) {
                  margin-top: 1px;
                    &:before{
                      border-width: 11px 6px 0 6px;
                    }
                }
            }
            @media only screen and (max-width: 575px) {
              width: 14px;
              height: 14px;
            }
        }
        &.up{
          .counter-control-arrow.__up{
            opacity: 1;
              &:before {
                border-color: transparent transparent #035832 transparent;
              }
          }
        }
        &.down{
          .counter-control-arrow.__down{
            opacity: 1;
              &:before{
                border-color: #873223 transparent transparent transparent;
              }
          }
        }
        @media only screen and (max-width: 1300px) {
          margin-left: 16px;
          margin-top: -12px;
        }
        @media only screen and (max-width: 575px) {
          margin-top: -10px;
        }
    }
}