body{
  background-color: #00030a;
  color: $grey-light;
  @extend .light;
  font-size: 14px;
}

h1{
  font-size: 42px;
  @extend .bold;
  text-transform: uppercase;
  letter-spacing: .36em;
  line-height: 1.2em;
    @include d(1300){
      font-size: 40px;
    }
    @include d(1200){
      font-size: 38px;
    }
    @include d(767){
      font-size: 34px;
    }
    @include d(575){
      font-size: 32px;
    }
    @include d(480){
      font-size: 28px;
    }
}

h2{
  font-size: 32px;
  @extend .bold;
  text-transform: uppercase;
  color: $yellow;
  letter-spacing: .36em;
    @include d(1300){
      font-size: 30px;
    }
    @include d(1200){
      font-size: 28px;
    }
    @include d(767){
      font-size: 24px;
    }
    @include d(480){
      font-size: 22px;
    }
}

h3{
  font-size: 24px;
  @extend .regular;
  color: $yellow;
  line-height: 1.542em;
    @include d(1300){
      font-size: 22px;
    }
    @include d(1200){
      font-size: 20px;
    }
    @include d(480){
      font-size: 18px;
    }
}

p, li{
  font-size: inherit;
  font-family: inherit;
  line-height: 2.6em;
  letter-spacing: .03em;
}

#wrapper{
  position: relative;
  width: 100%;
  overflow: hidden;
}

.container{
  max-width: 1670px;
  width: 96%;
    @media only screen and (max-width: 991px) {
      width: 100%;
      padding-right: 28px;
      padding-left: 28px;
    }
    @media only screen and (max-width: 767px) {
      padding-right: 14px;
      padding-left: 14px;
    }
}

.section{
  position: relative;
}

.link{
  font-size: 12px;
  @extend .regular;
  line-height: 2em;
  border: none;
  background-color: transparent;
  padding: 0;
  color: $white;
  position: relative;
  letter-spacing: .03em;
  transition: color .2s ease;
    &-icon{
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: 34px;
      height: 34px;
      border-radius: 50%;
      overflow: hidden;
      background-repeat: no-repeat;
      background-size: 20px;
      background-position: center;
      &:before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: 50%;
        background-color: $yellow-button;
        opacity: .3;
      }
      &.login{
        background-image: url(../images/icons/login.svg);
      }
    }
    &.icon-after{
      padding-right: 42px;
      .link-icon{
        right: 0;
        left: auto;
      }
    }
    @include hover(991){
      &:hover{
        color: $yellow;
      }
    }
    &.active{
      color: $yellow;
    }
}

.btn{
  height: 70px;
  line-height: 70px;
  border: 1px $white solid;
  font-size: 14px;
  @extend .medium;
  background-color: transparent;
  color: $grey-button;
  padding: 0;
  text-align: center;
  max-width: 310px;
  width: 100%;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
    &-title{
      position: relative;
      z-index: 1;
    }
    &.__border{
      border-radius: 4px;
      &:before{
        opacity: 0;
      }
    }
    &:before{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: $yellow-button;
      opacity: .1;
      transition: opacity .2s ease;
      pointer-events: none;
    }
    &.lg{
      height: 60px;
      line-height: 60px;
      max-width: 265px;
        @include d(575){
          height: 58px;
          line-height: 58px;
          max-width: 250px;
        }
        @include d(480){
          height: 54px;
          line-height: 54px;
          max-width: 240px;
        }
    }
    @include hover(991){
      &:hover{
        &:before{
          opacity: .3;
        }
      }
    }
    @include d(1300){
      height: 66px;
      line-height: 66px;
      max-width: 280px;
    }
    @include d(767){
      height: 62px;
      line-height: 62px;
      max-width: 260px;
    }
    @include d(575){
      height: 58px;
      line-height: 58px;
      max-width: 250px;
    }
    @include d(480){
      height: 54px;
      line-height: 54px;
      max-width: 240px;
    }
}

.subtitle{
  text-transform: uppercase;
  color: $grey;
  @extend .regular;
  letter-spacing: .75em;
  font-size: 12px;
  margin-bottom: 17px;
    @include d(1200){
      line-height: 1.6em;
    }
}

.title-border{
  position: relative;
  display: inline-block;
    &:before{
      content: '';
      position: absolute;
      background-color: $yellow-button;
      width: 331px;
      height: 12px;
      opacity: .1;
      top: 22px;
      right: 54%;
    }
    @include d(991){
      &:before{
        top: 50%;
      }
    }
}

.with-border{
  display: inline-block;
  position: relative;
    &:before{
      content: '';
      position: absolute;
      bottom: -8px;
      right: 17px;
      left: 17px;
      height: 1px;
      background-color: #2b2e33;
    }
}

.copyright{
  opacity: .5;
}

.burger{
  position: relative;
  padding: 5px;
  margin: -5px -5px -5px 55px;
    &-box{
      position: relative;
      width: 24px;
      height: 18px;
        &-arrow{
          position: absolute;
          width: 100%;
          height: 2px;
          right: 0;
          background-color: $grey-light;
          transition: all .2s ease;
            &:nth-child(1){
              top: 0;
            }
            &:nth-child(2){
              top: 50%;
              margin-top: -1px;
            }
            &:nth-child(3){
              bottom: 0;
            }
        }
    }
    &.is-active{
      .burger-box-arrow{
        &:nth-child(1){
          transform: rotate(45deg);
          top: 8px;
        }
        &:nth-child(2){
          width: 0;
        }
        &:nth-child(3){
          transform: rotate(-45deg);
          bottom: 8px;
        }
      }
    }
    @include d(480){
      margin: -5px -5px -5px 20px;
    }
}