@font-face {
  font-family: "Roboto-Light";
  src: url("../../assets/fonts/Roboto-Light.woff") format("woff"),
  url("../../assets/fonts/Roboto-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Raleway-Regular";
  src: url("../../assets/fonts/Raleway-Regular.woff") format("woff"),
  url("../../assets/fonts/Raleway-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

body{
  background-color: $black;
  color: $grey-light;
  @extend .regular;
  font-size: 14px;
}

h1{
  font-size: 42px;
  text-transform: uppercase;
  letter-spacing: .36em;
  line-height: 1.2em;
  @extend .regular;
    @include d(1300){
      font-size: 40px;
    }
    @include d(1200){
      font-size: 38px;
    }
    @include d(767){
      font-size: 34px;
    }
    @include d(575){
      font-size: 32px;
    }
    @include d(480){
      font-size: 28px;
    }
    &.__lg{
      font-size: 36px;
        @include d(1200){
          font-size: 32px;
        }
        @include d(767){
          font-size: 28px;
        }
        @include d(575){
          font-size: 26px;
        }
        @include d(480){
          font-size: 22px;
        }
    }
    &.__dashboard{
      text-transform: none;
      font-size: 36px;
      letter-spacing: 0;
    }
}

h2{
  font-size: 32px;
  text-transform: uppercase;
  color: $yellow;
  letter-spacing: .36em;
    @include d(1300){
      font-size: 30px;
    }
    @include d(1200){
      font-size: 28px;
    }
    @include d(767){
      font-size: 24px;
    }
    @include d(480){
      font-size: 22px;
    }
}

h3{
  font-size: 24px;
  @extend .regular;
  color: $yellow;
  line-height: 1.542em;
    @include d(1300){
      font-size: 22px;
    }
    @include d(1200){
      font-size: 20px;
    }
    @include d(480){
      font-size: 18px;
    }
}

p, li{
  font-size: inherit;
  font-family: inherit;
  line-height: 2.6em;
  //letter-spacing: .03em;
}

#wrapper{
  position: relative;
  width: 100%;
  overflow: hidden;
}

.container{
  max-width: 1670px;
  width: 96%;
  position: relative;
    @include d(991){
      width: 100%;
      padding-right: 28px;
      padding-left: 28px;
    }
    @include d(767){
      padding-right: 14px;
      padding-left: 14px;
    }
}

.section{
  position: relative;
}

.link{
  font-size: 12px;
  @extend .semi-bold;
  line-height: 2em;
  border: none;
  background-color: transparent;
  padding: 0;
  color: #B2B3B5;
  position: relative;
  //letter-spacing: .03em;
  transition: color .2s ease;
  white-space: nowrap;
    &-icon{
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: 34px;
      height: 34px;
      border-radius: 50%;
      overflow: hidden;
      background-repeat: no-repeat;
      background-size: 20px;
      background-position: center;
        &:before{
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          border-radius: 50%;
          background-color: $yellow-button;
          opacity: .3;
        }
        &.login{
          background-image: url(../images/icons/login.svg);
        }
    }
    &-thumb{
      width: 40px;
      height: 40px;
      margin-right: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
        &-active{
          display: none;
        }
    }
    &.icon-after{
      padding-right: 42px;
      .link-icon{
        right: 0;
        left: auto;
      }
    }
    @include hover(991){
        &:hover{
          color: $yellow;
            .link-thumb{
              &-active{
                display: inline-block;
              }
              &-default{
                display: none;
              }
            }
        }
    }
    &.active{
      color: $yellow;
        .link-thumb{
          &-active{
            display: inline-block;
          }
          &-default{
            display: none;
          }
        }
    }
}

.btn{
  height: 70px;
  line-height: 70px;
  border: 1px $white solid;
  font-size: 14px;
  @extend .medium;
  background-color: transparent;
  color: $grey-button;
  padding: 0;
  text-align: center;
  max-width: 310px;
  width: 100%;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
    &-title{
      position: relative;
      z-index: 1;
    }
    &.__border{
      border-radius: 4px;
      &:before{
        opacity: 0;
      }
    }
    &:before{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: $yellow-button;
      opacity: .1;
      transition: opacity .2s ease;
      pointer-events: none;
    }
    &.lg{
      height: 60px;
      line-height: 60px;
      max-width: 265px;
        @include d(575){
          height: 58px;
          line-height: 58px;
          max-width: 250px;
        }
        @include d(480){
          height: 54px;
          line-height: 54px;
          max-width: 240px;
        }
    }
    @include hover(991){
      &:hover{
        &:before{
          opacity: .3;
        }
      }
    }
    @include d(1300){
      height: 66px;
      line-height: 66px;
      max-width: 280px;
    }
    @include d(767){
      height: 62px;
      line-height: 62px;
      max-width: 260px;
    }
    @include d(575){
      height: 58px;
      line-height: 58px;
      max-width: 250px;
    }
    @include d(480){
      height: 54px;
      line-height: 54px;
      max-width: 240px;
    }
}

.btns{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  padding: 70px 0 20px;
    .btn{
      margin: 0 14px 20px;
      border-radius: 0;
    }
}

.subtitle{
  text-transform: uppercase;
  color: $grey;
  @extend .regular;
  letter-spacing: .75em;
  font-size: 12px;
  margin-bottom: 17px;
    @include d(1200){
      line-height: 1.6em;
    }
    @include d(400){
      font-size: 10px;
    }
}

.title{
  &-border {
    position: relative;
    display: inline-block;
      &:before {
        content: '';
        position: absolute;
        background-color: $yellow-button;
        width: 331px;
        height: 12px;
        opacity: .1;
        top: 22px;
        right: 54%;
        pointer-events: none;
      }
      @include d(991) {
        &:before {
          top: 50%;
        }
      }
  }
  &-plus{
    position: absolute;
    width: 18px;
    height: 18px;
    left: -43px;
    top: 44%;
      &:before,
      &:after{
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        background-color: #aaabab;
      }
      &:before{
        width: 100%;
        height: 2px;
      }
      &:after{
        width: 2px;
        height: 100%;
      }
      @include d(991){
        left: -15px;
        top: 25%;
      }
  }
}

.with-border{
  display: inline-block;
  position: relative;
    &:before{
      content: '';
      position: absolute;
      bottom: -8px;
      right: 17px;
      left: 17px;
      height: 1px;
      background-color: #2b2e33;
    }
}

.copyright{
  opacity: .5;
}

.burger{
  position: relative;
  padding: 5px;
  margin: -5px -5px -5px 55px;
    &-box{
      position: relative;
      width: 24px;
      height: 18px;
        &-arrow{
          position: absolute;
          width: 100%;
          height: 2px;
          right: 0;
          background-color: $grey-light;
          transition: all .2s ease;
            &:nth-child(1){
              top: 0;
            }
            &:nth-child(2){
              top: 50%;
              margin-top: -1px;
            }
            &:nth-child(3){
              bottom: 0;
            }
        }
    }
    &.is-active{
      .burger-box-arrow{
        &:nth-child(1){
          transform: rotate(45deg);
          top: 8px;
        }
        &:nth-child(2){
          width: 0;
        }
        &:nth-child(3){
          transform: rotate(-45deg);
          bottom: 8px;
        }
      }
    }
    @include d(480){
      margin: -5px -5px -5px 20px;
    }
}

.dashboard{
  padding: 90px 0;
  margin-top: 112px;
    &-title{
      padding-bottom: 27px;
        &-item{
          font-size: 36px;
            @include d(1400){
              font-size: 32px;
            }
        }
        .subtitle{
          margin-bottom: 21px;
        }
    }
    &-timer{
      text-align: right;
      padding-bottom: 27px;
      @extend .light;
        .subtitle{
          margin-bottom: 21px;
        }
        @include d(991){
          text-align: left;
        }
    }
    &-filter{
      text-align: right;
    }
    &-box{
      position: relative;
      border-radius: 15px;
      height: 376px;
      padding: 20px 0;
      margin-bottom: 28px;
      border: 1px #4A4A4A solid;
        &-title{
          @extend .semi-bold;
          font-size: 16px;
          line-height: 1.8em;
        }
        &.__lg{
          height: 476px;
        }
        &.__sm{
          height: 400px;
        }
        &.__mt{
          margin-top: -98px;
        }
        &.__stat{
          border: none;
          height: 278px;
          background: rgb(31,28,24);
          background: -moz-linear-gradient(-45deg,  rgba(31,28,24,1) 0%, rgba(22,34,43,1) 100%);
          background: -webkit-linear-gradient(-45deg,  rgba(31,28,24,1) 0%,rgba(22,34,43,1) 100%);
          background: linear-gradient(135deg,  rgba(31,28,24,1) 0%,rgba(22,34,43,1) 100%);
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1f1c18', endColorstr='#16222b',GradientType=1 );
            @include d(991){
              height: auto;
            }
        }
    }
}

.filter{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  padding: 10px 0 55px;
    &-link{
      margin-left: 112px;
        &:nth-child(1){
          margin-left: 0;
        }
        &:before{
          content: '';
          position: absolute;
          bottom: 3px;
          right: -12px;
          width: 98px;
          height: 11px;
          background-color: #f3de1a;
          opacity: .1;
          transform: scaleX(0);
          transition: transform .4s ease;
          transform-origin: right;
        }
        &.active{
          &:before{
            transform: scaleX(1);
          }
        }
    }
}

.abstract{
  position: absolute;
  background-repeat: no-repeat;
  pointer-events: none;
    &.__1{
      top: 0;
      left: -150px;
      right: -96px;
      bottom: 86px;
      background-position: center;
      background-size: contain;
      background-image: url(../images/abstract/abstract-1.png);
        @include d(1700){
          background-size: auto 45%;
        }
        @include d(1440){
          bottom: 55px;
        }
    }
    &.__2{
      top: -70px;
      right: -320px;
      bottom: 64px;
      left: 0;
      background-position: bottom right;
      background-image: url(../images/abstract/abstract-2.png);
      background-size: auto 150%;
        @include d(1440){
          background-size: auto 120%;
        }
        @include d(991){
          right: -390px;
        }
        @include d(767){
          bottom: 20px;
          right: -130px;
          background-size: contain;
        }
    }
    &.__3{
      left: 31%;
      top: 82px;
      right: -233px;
      bottom: 0;
      background-position: left top;
      background-size: 100% auto;
      background-image: url(../images/abstract/abstract-3.png);
      z-index: 1;
        @include d(1700){
          background-position: left 30px;
        }
        @include d(1440){
          background-size: 130% auto;
          background-position: left top;
        }
        @include d(991){
          background-size: 170% auto;
          left: 37%;
          top: 93px;
        }
        @include d(575){
          top: 0;
        }
    }
    &.__4{
      top: 37px;
      left: 1%;
      right: 0;
      height: 142%;
      background-position: left top;
      background-size: contain;
      background-image: url(../images/abstract/abstract-4.png);
        @include d(767){
          background-position: center bottom;
          background-size: 100% auto;
          height: 100%;
        }
        @include d(575){
          background-size: 570px auto;
        }
    }
    &.__5{
      top: -17%;
      left: 50%;
      transform: translateX(-50%);
      width: 2542px;
      height: 1549px;
      background-position: left top;
      background-size: contain;
      background-image: url(../images/abstract/abstract-6.png);
        @include d(1700){
          width: 2442px;
          height: 1449px;
        }
        @include d(767){
          width: 1942px;
          height: 949px;
          top: 250px;
        }
        @include d(480){
          width: 1042px;
          height: 549px;
          top: 160px;
        }
    }
    &.__6{
      width: 471px;
      height: 65px;
      left: 42.7%;
      top: 163px;
      background-image: url(../images/abstract/abstract-5.png);
    }
    &.__7{
      top: 238px;
      left: 0;
      right: 0;
      bottom: 0;
      background-position: center top;
      background-image: url(../images/abstract/abstract-faq.png);
        @include d(1700){
          //top: 295px;
        }
        @include d(1600){
          background-position: left top;
          background-size: 120% auto;
        }
        @include d(1300){
          top: 185px;
        }
        @include d(991){
          top: 165px;
        }
        @include d(575){
          background-size: 200% auto;
        }
    }
    &.__8{
      bottom: -420px;
      left: -54px;
      width: 750px;
      height: 590px;
      background-position: right top;
      background-size: contain;
      background-image: url(../images/abstract/abstract-7.png);
        @include d(1440){
          width: 700px;
          height: 540px;
          bottom: -320px;
        }
        @include d(1200){
          width: 600px;
          height: 440px;
          bottom: -280px;
        }
    }
    &.__9{
      left: -152px;
      top: 1px;
      right: -120px;
      bottom: -378px;
      background-size: contain;
      background-position: center top;
      background-image: url(../images/abstract/abstract-8.png);
        @include d(1200){
          right: -320px;
          bottom: -400px;
        }
        @include d(767){
          display: none;
        }
    }
    &.__10{
      top: -150px;
      left: -80px;
      width: 100%;
      height: 100%;
      background-position: right top;
      background-image: url(../../assets/images/abstract/abstract-10.png);
        @include d(991){
          width: 160%;
          top: -250px;
          left: 0;
        }
    }
    &.__11{
      top: -108px;
      left: -488px;
      width: 110%;
      height: 100%;
      background-size: contain;
      background-position: center top;
      background-image: url(../../assets/images/abstract/abstract-11.png);
    }
    &.__12{
      top: -175px;
      left: -585px;
      right: -412px;
      bottom: 0;
      background-size: contain;
      background-position: center top;
      background-image: url(../../assets/images/abstract/abstract-12.png);
    }
    &.__13{
      top: 310px;
      left: 8px;
      width: 100%;
      height: 100%;
      background-position: left top;
      background-image: url(../../assets/images/abstract/abstract-13.png);
        @include d(1300){
          top: 234px;
        }
        @include d(991){
          top: 190px;
        }
    }
    &.__14{
      bottom: 0;
      right: 0;
      width: 100%;
      height: 100%;
      transform: translate(5.6%,15.4%);
      background-position: right bottom;
      background-image: url(../../assets/images/abstract/abstract-14.png);
        @include d(1300){
          transform: translate(28%,15.4%);
        }
        @include d(991){
          display: none;
        }
    }
    &.__15{
      width: 100%;
      height: 100%;
      top: 31px;
      left: -240px;
      background-position: left top;
      background-image: url(../images/abstract/abstract-15.png);
        @include d(1300){
          top: -10px;
          background-size: 160% auto;
        }
        @include d(991){
          top: -25px;
          background-size: 1500px auto;
          left: 0;
        }
    }
    &.__16{
      left: -381px;
      right: -105px;
      top: -65px;
      bottom: -160px;
      background-position: center;
      background-image: url(../../assets/images/abstract/abstract-16.png);
        @include d(1440){
          top: -180px;
        }
    }
    &-circle{
      position: absolute;
      border-radius: 50%;
      pointer-events: none;
        &.__1{
          width: 940px;
          height: 940px;
          top: 0;
          right: 0;
          transform: translate(39%,-32%);
          background: rgb(247,255,0);
          background: -moz-linear-gradient(-45deg,  rgba(247,255,0,1) 0%, rgba(180,0,255,1) 100%);
          background: -webkit-linear-gradient(-45deg,  rgba(247,255,0,1) 0%,rgba(180,0,255,1) 100%);
          background: linear-gradient(135deg,  rgba(247,255,0,1) 0%,rgba(180,0,255,1) 100%);
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7ff00', endColorstr='#b400ff',GradientType=1 );
          opacity: .1;
            @include d(1800){
              width: 640px;
              height: 640px;
            }
            @include d(1440){
              width: 540px;
              height: 540px;
            }
            @include d(767){
              width: 440px;
              height: 440px;
            }
        }
        &.__2{
          width: 353px;
          height: 353px;
          left: 0;
          top: 542px;
          opacity: .15;
          transform: translate(-66%,0);
          background: rgb(9,94,138);
          background: -moz-linear-gradient(left,  rgba(9,94,138,1) 0%, rgba(59,14,127,1) 100%);
          background: -webkit-linear-gradient(left,  rgba(9,94,138,1) 0%,rgba(59,14,127,1) 100%);
          background: linear-gradient(to right,  rgba(9,94,138,1) 0%,rgba(59,14,127,1) 100%);
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#095e8a', endColorstr='#3b0e7f',GradientType=1 );
        }
        &.__3{
          width: 718px;
          height: 718px;
          bottom: 0;
          right: 0;
          transform: translate(19%,50%);
          background: rgb(247,255,0);
          background: -moz-linear-gradient(-45deg,  rgba(247,255,0,1) 0%, rgba(180,0,255,1) 100%);
          background: -webkit-linear-gradient(-45deg,  rgba(247,255,0,1) 0%,rgba(180,0,255,1) 100%);
          background: linear-gradient(135deg,  rgba(247,255,0,1) 0%,rgba(180,0,255,1) 100%);
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7ff00', endColorstr='#b400ff',GradientType=1 );
          opacity: .1;
            @include d(1300){
              transform: translate(40%,50%);
            }
            @include d(767){
              width: 418px;
              height: 418px;
            }
        }
        &.__4{
          width: 124px;
          height: 124px;
          left: 2.8%;
          bottom: 36px;
          background: rgb(180,0,255);
          background: -moz-linear-gradient(-45deg,  rgba(180,0,255,1) 0%, rgba(0,144,255,1) 100%);
          background: -webkit-linear-gradient(-45deg,  rgba(180,0,255,1) 0%,rgba(0,144,255,1) 100%);
          background: linear-gradient(135deg,  rgba(180,0,255,1) 0%,rgba(0,144,255,1) 100%);
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b400ff', endColorstr='#0090ff',GradientType=1 );
          opacity: .1;
        }
    }
}

.stat{
  padding: 7px 40px;
    &-body{
      display: flex;
      align-items: flex-start;
      padding: 7px 0;
    }
    &-list{
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      padding-left: 25px;
        &-item{
          width: 100%;
          margin-bottom: 30px;
            &.full-width{
              flex: 1;
            }
            @include d(575){
              width: 100%;
            }
        }
        &.__middle{
          padding: 28px 0 55px;
          max-width: 370px;
            .stat-list-item{
              width: 50%;
              margin-bottom: 20px;
                @include d(575){
                  width: 100%;
                }
            }
        }
        @include d(575){
          flex-direction: column;
        }
    }
    &-row{
      display: flex;
      align-items: center;
      margin-bottom: 17px;
        &:last-child{
          margin-bottom: 0;
        }
        .stat{
          &-value{
            line-height: 1.5em;
            font-size: 16px;
            @extend .semi-bold;
            letter-spacing: .01em;
            white-space: nowrap;
            text-align: left;
            color: $yellow;
              @include d(480){
                font-size: 12px;
              }
          }
          &-label{
            margin-right: 20px;
            margin-bottom: 0;
            text-align: left;
              @include d(575){
                min-width: 90px;
                margin-right: 5px;
              }
          }
        }
        @include d(575){
          margin-bottom: 10px;
        }
    }
    &-value{
      font-size: 24px;
      text-transform: uppercase;
      line-height: 1em;
      letter-spacing: 0;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      white-space: nowrap;
        &-arrow{
          position: relative;
          margin-left: 15px;
          width: 17px;
          height: 17px;
            &:before{
              content: '';
              position: absolute;
              top: 2px;
              left: 0;
              width: 0;
              height: 0;
              border-style: solid;
            }
            &.__up{
              &:before{
                border-width: 0 7px 13px 7px;
                border-color: transparent transparent $green transparent;
              }
            }
            &.__down{
              &:before{
                border-width: 13px 7px 0 7px;
                border-color: $red transparent transparent transparent;
              }
            }
        }
        @include d(1300){
          font-size: 22px;
        }
    }
    &-label{
      line-height: 1.5em;
      font-size: 14px;
      @extend .semi-bold;
      letter-spacing: .01em;
      margin-bottom: 15px;
      text-align: center;
        &.__default{
          font-size: 12px;
        }
        @include d(1300){
          font-size: 14px;
        }
        @include d(575){
          margin-bottom: 15px;
        }
    }
    @include d(1440){
      //padding: 53px 25px;
    }
}

.hr{
  border: none;
  height: 2px;
  background-color: $white;
  opacity: .11;
  margin: 20px 0 41px;
    &.__vertical{
      width: 2px;
      height: 160px;
      margin: 0;
    }
    @include d(575){
      margin: 25px 0;
    }
}

.hero{
  //padding: 366px 0 20px;
  padding: 270px 0 160px;
  min-height: 100vh;
    &-video {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;
      pointer-events: none;
        &:before {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 90px;
          background: -moz-linear-gradient(top, rgba(0, 3, 10, 0) 0%, rgba(0, 3, 10, 1) 86%, rgba(0, 3, 10, 1) 99%);
          background: -webkit-linear-gradient(top, rgba(0, 3, 10, 0) 0%, rgba(0, 3, 10, 1) 86%, rgba(0, 3, 10, 1) 99%);
          background: linear-gradient(to bottom, rgba(0, 3, 10, 0) 0%, rgba(0, 3, 10, 1) 86%, rgba(0, 3, 10, 1) 99%);
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0000030a', endColorstr='#00030a', GradientType=0);
        }
        &-item {
          position: absolute;
          height: 160%;
          width: auto;
          left: 50%;
          top: 42%;
          transform: translate(-50%, -50%);
          opacity: 0;
          z-index: -1;
          transition: opacity .4s ease;

          &.is-visible {
            opacity: .2;
            @include d(767) {
              opacity: .3;
            }
          }

          @include d(1300) {
            height: 175%;
            top: 40%;
          }
          @include d(480) {
            height: 158%;
          }
        }
    }
    &-title{
      color: $white;
        .title-2, h2{
          color: inherit;
        }
        &-description{
          margin-top: 45px;
          position: relative;
            &.__quote{
              padding-bottom: 50px;
                .quote{
                    &-title{
                      display: inline-block;
                      position: relative;
                        @include d(480){
                          line-height: 1.8em;
                        }
                    }
                    &-author{
                      position: absolute;
                      left: 80%;
                      top: 100%;
                      width: 250px;
                      width: max-content;
                        @include d(575){
                          left: 0;
                          position: relative;
                          top: 0;
                          margin-left: 100px;
                          display: block;
                          width: calc(100% - 100px);
                          font-size: 12px;
                        }
                        @include d(480){
                          margin-left: 20px;
                          width: calc(100% - 20px);
                        }
                    }
                }
            }
        }
        .title-1, h1{
          padding: 5px 0;
            @include d(1600){
              font-size: 32px;
            }
            @include d(575){
              font-size: 25px;
            }
            @include d(480){
              font-size: 26px;
            }
        }
    }
    &-nav{
      position: relative;
      height: 100%;
      width: 204px;
        &:before{
          content: '';
          position: absolute;
          top: -125px;
          right: 0;
          bottom: 0;
          width: 1px;
          background-color: #4A4A4A;
        }
        @include d(991){
          margin-bottom: 30px;
            .quant-nav{
              display: none;
            }
        }
    }
    &-quote{
      font-size: 18px;
      color: $yellow;
      @extend .regular;
        p{
          line-height: 2.056em;
        }
    }
    //@include d(1700){
    //  padding: 320px 0 20px;
    //}
    @include d(1300){
      padding: 200px 0 100px;
    }
    @include d(991){
      padding: 170px 0 80px;
    }
}

.inner-page{
    &:before{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      pointer-events: none;
      background-repeat: repeat-y;
      background-size: 100% auto;
      background-position: center top;
      background-image: url(../images/dashboard/inner-page-bg-2.png);
    }
    .hero-title{
      .title-1, h1{
        padding: 0;
      }
    }
    .title-border{
      &:before{
        width: 690px;
        height: 22px;
        top: 28px;
        right: auto;
        left: -140px;
          @include d(1600){
            width: 550px;
          }
          @include d(1440){
            width: 480px;
            top: 17px;
          }
      }
    }
}

.input{
  width: 100%;
  background-color: rgba(255,255,255,.05);
  height: 60px;
  padding: 0 20px;
  color: $white;
  @extend .light;
  font-size: 16px;
  border: 1px #1b1e21 solid;
  transition: border-color .2s ease;
    &-container{
      position: relative;
      width: 100%;
      margin: 25px 0 10px;
        &:before{
          content: '';
          position: absolute;
          top: 55px;
          right: 18px;
          width: 26px;
          height: 26px;
          background-repeat: no-repeat;
          background-size: contain;
          background-position: center;
          background-image: url(../images/icons/warning.svg);
          pointer-events: none;
          opacity: 0;
          transition: opacity .2s ease;
        }
        &.error{
          &:before{
            opacity: 1;
          }
          .input{
            border-color: #cf5944;
              &-error{
                opacity: 1;
              }
          }
        }
        @include d(480){
          &:before{
            top: 40px;
            width: 22px;
            height: 22px;
          }
        }
    }
    &-label{
      display: block;
      font-size: 16px;
      padding-bottom: 20px;
      letter-spacing: .03em;
      max-width: 460px;
        @include d(480){
          padding-bottom: 5px;
        }
    }
    &-check{
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
        &:checked{
          & ~ .check-btn{
            background-color: transparent;
              &:before{
                opacity: .3;
              }
          }
        }
    }
    &-error{
      position: absolute;
      top: 1px;
      right: 0;
      color: #cf5944;
      letter-spacing: .03em;
      opacity: 0;
      pointer-events: none;
      transition: opacity .2s ease;
    }
    @include d(575){
      height: 58px;
    }
    @include d(480){
      height: 54px;
    }
}

.textarea{
  @extend .input;
  height: 152px;
  padding: 15px 20px;
}

.check{
  position: relative;
  display: inline-block;
  height: 60px;
  line-height: 62px;
  text-align: center;
  margin-left: 25px;
  flex: 1;
    @include m(576){
      &:nth-child(1){
        margin-left: 0;
      }
    }
    &-list{
      display: flex;
        @include d(575){
          flex-wrap: wrap;
          margin: 0 -10px;
        }
    }
    &-btn{
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      border: 1px #e8e8e8 solid;
      background-color: rgba(255,255,255,.1);
      transition: background-color .2s ease;
      pointer-events: none;
        &:before{
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: $yellow-button;
          opacity: 0;
          transition: opacity .2s ease;
        }
    }
    &-title{
      font-size: 14px;
      @extend .medium;
      letter-spacing: .025em;
      position: relative;
      z-index: 1;
    }
    @include d(575){
      height: 58px;
      line-height: 60px;
      margin: 0 10px 20px;
      flex: none;
      width: calc(50% - 20px);
    }
    @include d(480){
      height: 54px;
      line-height: 56px;
    }
}

.table{
    &-wrap{
      position: relative;
      padding: 66px 0 30px;
    }
    &-scroll{
        @include d(991){
          overflow-x: auto;
          margin-right: -28px;
          margin-left: -28px;
          padding-left: 28px;
        }
        @include d(767){
          margin-right: -14px;
          margin-left: -14px;
          padding-left: 14px;
        }
    }
    th{
      font-size: 12px;
      @extend .regular;
      padding: 12px 0;
      color: rgba(195,195,195,.46);
      border: none;
      //border-bottom: 1px rgba(195,195,195,.16) solid;
      text-align: left;
      border-bottom: 28px transparent solid;
      position: relative;
        &:before{
          content: '';
          position: absolute;
          left: 0;
          right: 0;
          height: 1px;
          bottom: 0;
          background-color: rgba(195,195,195,.16);
        }
        &:nth-child(1){
          padding-left: 65px;
            @include d(1200){
              padding-left: 25px;
            }
        }
        @include d(991){
          font-size: 12px;
        }
        @include d(767){
          border-bottom-width: 14px;
        }
    }
    td{
      font-size: 14px;
      letter-spacing: .05em;
      text-align: left;
      //background-color: rgba(255,255,255,.03);
      padding: 31px 0;
      border: none;
      border-bottom: 10px transparent solid;
      position: relative;
        &:before{
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 76px;
          background-color: rgba(255,255,255,.03);
        }
        &:nth-child(1){
          padding-left: 65px;
            &:before{
              border-radius: 5px 0 0 5px;
            }
            @include d(1200){
              padding-left: 25px;
            }
        }
        &:last-child{
          &:before{
            border-radius: 0 5px 5px 0;
          }
        }
        @include d(991){
          font-size: 12px;
          padding: 20px 0;
            &:before{
              height: 53px;
            }
        }
        @include d(767){
          border-bottom-width: 5px;
        }
    }
    .green{
      color: #229b39;
    }
    .red{
      color: #e26161;
    }
    @include d(991){
      width: 950px;
      margin-right: 28px;
    }
    @include d(767){
      margin-right: 14px;
    }
}

.notification{
  position: relative;
  width: 26px;
  height: 26px;
  margin: 0 8px 0 40px;
    &-icon{
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      background-image: url(../../assets/images/notification.svg);
    }
    &-count{
      position: absolute;
      bottom: -2px;
      right: -9px;
      width: 18px;
      height: 18px;
      border-radius: 50%;
      background-color: #FFC600;
      color: #121C21;
      line-height: 16px;
      text-align: center;
      font-size: 12px;
    }
}