@import "variables";
@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/mixins";
@import "../../../node_modules/bootstrap/scss/grid";
@import "base";
//@import "grid.min.css";
@import "classes";

*{
  box-sizing: border-box;
}

body{
  background-color: $black;
  color: $grey-light;
  @extend .light;
  font-size: 14px;
}

h1{
  font-size: 42px;
  @extend .bold;
  text-transform: uppercase;
}

h2{
  font-size: 32px;
  @extend .bold;
  text-transform: uppercase;
  color: $yellow;
}

h3{
  font-size: 24px;
  @extend .regular;
  color: $yellow;
}

p, li{
  font-size: inherit;
  font-family: inherit;
  line-height: 2.571em;
}

#wrapper{
  position: relative;
  width: 100%;
  overflow: hidden;
}

.container{
  max-width: 1668px;
  width: 100%;
}