@import "variables";
@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/mixins";
@import "../../../node_modules/bootstrap/scss/grid";
@import "base";
@import "mixins";
//@import "grid.min.css";
@import "classes";

*{
  box-sizing: border-box;
}

body{
  background-color: $black;
  color: $grey-light;
  @extend .light;
  font-size: 14px;
}

h1{
  font-size: 42px;
  @extend .bold;
  text-transform: uppercase;
  letter-spacing: .36em;
  line-height: 1.2em;
}

h2{
  font-size: 32px;
  @extend .bold;
  text-transform: uppercase;
  color: $yellow;
}

h3{
  font-size: 24px;
  @extend .regular;
  color: $yellow;
}

p, li{
  font-size: inherit;
  font-family: inherit;
  line-height: 2.571em;
}

#wrapper{
  position: relative;
  width: 100%;
  overflow: hidden;
}

.container{
  max-width: 1680px;
  width: 96%;
}

.link{
  font-size: 12px;
  @extend .regular;
  line-height: 2em;
  border: none;
  background-color: transparent;
  padding: 0;
  color: $white;
  position: relative;
  letter-spacing: .03em;
    &-icon{
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: 34px;
      height: 34px;
      border-radius: 50%;
      overflow: hidden;
      background-repeat: no-repeat;
      background-size: 20px;
      background-position: center;
        &:before{
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          border-radius: 50%;
          background-color: $yellow-button;
          opacity: .3;
        }
        &.login{
          background-image: url(../images/icons/login.svg);
        }
    }
    &.icon-after{
      padding-right: 42px;
        .link-icon{
          right: 0;
          left: auto;
        }
    }
    @include hover(991){
      &:hover{
        color: $yellow;
      }
    }
}

.btn{
  height: 70px;
  line-height: 70px;
  border: 1px $white solid;
  font-size: 14px;
  @extend .medium;
  background-color: transparent;
  color: $grey-button;
  padding: 0;
  text-align: center;
  max-width: 310px;
  width: 100%;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
    &-title{
      position: relative;
      z-index: 1;
    }
    &:before{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: $yellow-button;
      opacity: .1;
      transition: opacity .2s ease;
    }
    @include hover(991){
      &:hover{
        &:before{
          opacity: .3;
        }
      }
    }
}